%h1 TalkEntry
.row.py-1
  .col-md-3.fw-bold Talkroom
  .col-md-9= @talk_entry.talkroom.name
.row.py-1
  .col-md-3.fw-bold User
  .col-md-9= @talk_entry.user.email

= link_to '編集', edit_admin_talk_entry_path(@talk_entry)
\|
= link_to '戻る', admin_talk_entries_path
